body {
    margin: 0;
    padding: 0;
}

.header-img {
    display: flex;
    justify-content: center;
}

h1 {
    color: #005677;
    margin: 10px;
}

.header-title {
    display: flex;
    justify-content: center;
    background-color: #C4C4C4;
    margin-top: 20px;
    margin-bottom: 128px;
}

.section-title {
    background-color: #C4C4C4;
    margin-top: 20px;
}

.section-body {
   display: flex;
}

.section-body-date{
    margin-left: 10px;
    margin-right: 10px;
}